<!-- create-mentor.component.html -->

<h2>Criar Novo Mentor</h2>

<div>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="mentor.nome" />
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput placeholder="Role" [(ngModel)]="mentor.cargo" />
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row *ngFor="let tag of mentor.tags" (removed)="remove(tag)">
        {{ tag }}
        <button matChipRemove [attr.aria-label]="'remove ' + tag">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="Tags.."
      #tagInput
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-form-field>
</div>

<div>
  <button mat-raised-button color="primary" (click)="createMentor()">
    Create Mentor
  </button>
</div>
