<mat-card class="login-div">
  <h2>Bem vindo a Oportunia!</h2>
  <p>
    <mat-form-field class="form-field">
      <mat-label>Coloque o seu email!</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-field">
      <mat-label>Coloque sua senha</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </p>
  <h2>
    <label id="login-type-label">Escolha o tipo de conta</label>
  </h2>
  <p>
    <mat-button-toggle-group
      aria-labelledby="login-type-label"
      required="true"
      class="radio-group"
      [(ngModel)]="type"
    >
      <mat-button-toggle [value]="mentorValue" color="primary"
        >Mentor</mat-button-toggle
      >
      <mat-button-toggle [value]="menteeValue" color="primary"
        >Mentorado</mat-button-toggle
      >
    </mat-button-toggle-group>
  </p>
  <p>
    <button mat-raised-button color="primary" class="button" (click)="login()">
      Login
    </button>
  </p>
  <a routerLink="./register">Criar Conta</a>
</mat-card>
