.login-div {
  padding: 16px;
  margin-bottom: 16px;
}

.form-field {
  width: 15%;
}

.button {
  align-self: center;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
}
