<mat-card class="login-div">
    <h1>Criar Conta</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha:</mat-label>
            <input matInput type="password" formControlName="password" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirme a senha:</mat-label>
            <input
            matInput
            type="password"
            formControlName="confirmPassword"
            required
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de Nascimento:</mat-label>
            <input matInput type="date" formControlName="birthDate" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Telefone:</mat-label>
            <input matInput type="text" formControlName="phone" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo:</mat-label>
            <mat-select
                formControlName="accountType"
                (selectionChange)="onAccountTypeChange()"
                >
                <mat-option value="Mentorado">Mentorado</mat-option>
                <mat-option value="Mentor">Mentor</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="registerForm.value.accountType === 'Mentor'">

            <mat-form-field appearance="outline" class="dropdown-container">
                <mat-label>Experiências</mat-label>
                <mat-select (selectionChange)="onSelectionChange(getTag($event.value))">
                    <div *ngFor="let item of items">
                        <mat-option [value]="item.nameTag" *ngIf="!selectedItems.includes(item)">
                            {{item.nameTag}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <div class="tags-container">
                <mat-chip *ngFor="let item of selectedItems" [removable]="true" (removed)="removeItem(item)">
                    {{item.nameTag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </div>

            <mat-form-field>
                <mat-label>Cargo</mat-label>
                <input matInput formControlName="cargo" required />
            </mat-form-field>
        </div>
        <p>
        <button mat-raised-button color="primary" class="button" type="submit">
            Criar Conta!
        </button>
        </p>
    </form>
</mat-card>
