
<div *ngIf="show == true">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Tag Solicitada</mat-label>
        <input matInput [(ngModel)]="nameTag" name="oioioi" required>
      </mat-form-field>
      <br>
    </form>  
    <button
      mat-button
      color="primary"
      (click)="this.onSubmit();"
      class="btn-primary">Enviar solicitação</button>
  
    <button
      mat-button
      color="primary"
      (click)="this.deleteAndToggle();"
      class="btn-secondary">Cancelar solicitação</button>

  
</div>

  
<div *ngIf="show == false">
<button
mat-button
color="primary"
(click)="this.toggle()"
class="action"
>
Solicitar nova Tag
</button>

</div> 