<div class="table-container">
  <mat-form-field>
    <mat-label>Procurar por tag</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Procure por uma tag!"
      #input
    />
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="nameRole">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome e Cargo
      </mat-header-cell>
      <mat-cell *matCellDef="let mentor">
        {{ mentor.first_name }} - {{ mentor.cargo }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tags
      </mat-header-cell>
      <mat-cell *matCellDef="let mentor">
        <span *ngFor="let tag of mentor.tags" class="tag">{{ tag }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let mentor">
        <button
          mat-button
          color="primary"
          (click)="modal.toggle(mentor.first_name, mentor.email)"
          class="action"
        >
          Marcar mentoria!
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let mentor; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<app-modal #modal>
  <h1>Detalhes da mentoria</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Duração</mat-label>
      <input matInput [(ngModel)]="modal.mentoria.value.duracao" name="duracao" placeholder="Informe o tempo em minutos ou horas" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Formato</mat-label>
      <mat-select [(ngModel)]="modal.mentoria.value.formato" name="formato" required>
        <mat-option value="Chat">Chat</mat-option>
        <mat-option value="Reunião presencial">Reunião presencial</mat-option>
        <mat-option value="Reunião virtual">Reunião virtual</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Recompensa (opcional)</mat-label>
      <textarea matInput [(ngModel)]="modal.mentoria.value.recompensa" name="recompensa" placeholder="Deseja oferecer alguma recompensa (monetária ou não) ao mentor? Informe o tipo e valor"></textarea>
    </mat-form-field>
  </form>  
  <button
    mat-button
    color="primary"
    (click)="modal.sendAndToggle(userService);"
    class="btn-primary">Enviar solicitação</button>

  <button
    mat-button
    color="primary"
    (click)="modal.deleteAndToggle();"
    class="btn-secondary">Cancelar solicitação</button>
</app-modal> 